<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510039074793-khk2cqosi7odphov7m8tr7r3flk4mqk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510039074793-khk2cqosi7odphov7m8tr7r3flk4mqk8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510039074793-3e8gbbbdjbpv4q4r4v2q58ur39sf47or.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvPMJ2wgVnvCZ4Osy6HXgvKJMDSDlTfpk</string>
	<key>GCM_SENDER_ID</key>
	<string>510039074793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicapp</string>
	<key>PROJECT_ID</key>
	<string>musicworld-cc344</string>
	<key>STORAGE_BUCKET</key>
	<string>musicworld-cc344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510039074793:ios:a4a879a94b2b378a400d78</string>
</dict>
</plist>